.calculator-container h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
}
.calculator-container form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.calculation-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}